.btn{
    outline: 0;
    transition: all .15s ease-in-out;
    &:focus, &:active{
        box-shadow:none!important;
        opacity: .8;
    }
}
.btn-md{
    height: 56px!important;
    line-height: 52px!important;
    font-size: 18px!important;
}
.btn-main{
    padding: 0 30px;
    height: 48px;
    color: #fff;
    background-image: linear-gradient(218deg,#ffb677 0,#ff7800 50%,#ffb677 100%);
    background-size: 200% auto;
    background-position: left center;
    height: 48px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 600;

    &:hover{
        background-image: linear-gradient(218deg,#ffb677 0,#ff7800 50%,#ffb677 100%);
        background-position: right center;
        color:#fff;
        transform: translateY(-3px);
    }
    &:focus{
        background-image: linear-gradient(218deg,#ffb677 0,#ff7800 50%,#ffb677 100%);
        background-position: right center;
        color:#fff;
        transform: translateY(3px);
    }
}

.btn-revers{
    border:2px solid $main;
    border-radius: 5px;
    background-image: linear-gradient(218deg,#ffb677 0,#ff7800 50%,#ffb677 100%);
    background-size: 200% auto;
    background-position: left center;
    background: transparent;
    color: $main;
    padding: 0 30px;
    height: 48px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 600;
    &:hover{
        border:2px solid transparent;
        color:#fff;
        background-color: $main;
        background-image: linear-gradient(218deg,#ffb677 0,#ff7800 50%,#ffb677 100%);
        background-size: 200% auto;
        background-position: right center;
        transform: translateY(-3px);
    }
    &:focus{
        background-position: left center;
    }
}