// .widget-title {
//     font-family: Roboto, Helvetica, Arial, sans-serif;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 1.40;
//     color: #222222;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.11);
//     margin-bottom: 20px;
//     padding-bottom: 20px;
// }
.page-sidebar{
// .wraper-sticky{
//     position: -webkit-sticky;
//     position: sticky;
//     top: 100px;
//     margin-bottom: 31px;
// }
.widget{
    padding: 15px;
    ul{
        list-style: none;
        padding: 0px;
        li{
            a{
                display: block;
                color:$main2;
                position: relative;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 1.64;
                font-weight: 500;
                letter-spacing: 3px;
                padding: 15px 15px 15px 0;
                border-bottom: 1px solid #f0f2f7;
                &:hover{
                    color:$main;
                }
            }
        }
    }
}
}