.gallery-slider{
    .gallery{
        img{
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    .swiper-pagination{
        min-width: 100%;
        position: inherit;
        padding: 20px 0px;
        span{
            margin: 10px;
            width: 8px;
            height: 8px;
            outline: 0!important;
        }
        .swiper-pagination-bullet-active{
            background-color: $main;
            width: 12px;
            height: 12px;
        }
    }
}