.pakiety {
    padding-left:15px;
    padding-right: 15px;
    .wraper{
        display: flex;
        justify-content: center;
        @media #{$md}{
            flex-wrap: wrap;
        }
        .pakiet-title{
            background: none!important;
            text-align: left!important;
            color:#fff;
            padding: 34px 20px 15px;
            h2{
                color:#fff;
            }
            p{
                color:#fff;
            }
        }
        .pakiet{
            position: relative;
            text-align: center;
            width: 25%;
            background:#fff;
            border-radius:5px;
            margin: 10px;
            padding: 34px 20px 89px;
            @media #{$md}{
                width: 47%;
            }
            @media #{$sm}{
                width: 100%;
            }
            .label{
                position: absolute;
                top: -1px;
                right: -1px;
                width: 0;
                height: 0;
                border-top: 88px solid #ee7455;
                border-bottom: 88px solid transparent;
                border-left: 88px solid transparent;
                span{
                    position: absolute;
                    top: -72px;
                    right: 6px;
                    text-align: center;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 1.19;
                    display: block;
                    color: #fff;
                    transform: rotate(45deg);
                }
                
            }
            .des{
                p{
                    font-size: 13px;
                }
            }
            .bullets{
                list-style: none;
                padding: 0;
                padding-bottom: 15px;
                li{
                    padding: 5px 0;
                    font-size: 16px;
                }
            }

            a.btn{
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0px);
                min-width: 199px;
            }

        }
    }
}