$xxxs: "only screen and (max-width: 320px)";
$xxs: "only screen and (max-width: 568px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg2: "only screen and (max-width: 1300px)";
$lg: "only screen and (max-width: 1400px)";
$xlg: "only screen and (max-width: 1450px)";


$main: #ff7800;
$main2: #80c2ff;
$black: #222222;
$gray: #b5b5b5;
$p: #555555;