.person-blog{
   
    .wraper{
        .box{
            padding: 20px;
            background-color: #fff;
            border-radius:10px;
            box-shadow: 0 10px 50px 5px rgba(89,69,230,.1);
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            img{
                padding: 10px;
            }
            .desc{
                padding: 10px;
                h4{
                    color:#0085ff!important;
                    font-size: 18px;

                }
                p{
                    margin: 0 0 18px;
                    display: block;
                    font-weight: 300!important;

                }
                span{
                    color: #555555;
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    font-size: 16px!important;
                    font-weight: 400!important;
               }
            }
        }
    }
}
